*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'DM Sans', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea{
    font-family: 'DM Sans', sans-serif;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active{
    box-shadow: none;
    outline: none;
}

ul,
ol,
li{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

p{
    color: #2B292D;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #3040C4;
    width: 140px;
    height: 48px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -0.05em ;
}

.inverted{
    background-color: #fff;
    color:#3040c4;
}

.section{
    padding: 80px 0;
}

.section-category{
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}

.section-title{
    font-size: 34px;
    line-height: 1.0588235294;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
}


/* main */

.main{
    background-color: #FDDED8;
    text-align: center;
    
}

.main-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
}

.main-title{
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.05em;
    font-weight: 700;
    margin-bottom: 24px;
}

.main-desc{
    margin-bottom: 24px;
}

.main .btn:first-child{
    margin-right: 8px;
}

/* service */

.service{
    background: #F4F5F7;
    padding: 80px 0;
}

.service-title{
    font-size: 22px;
    line-height: 1.3636363636;
    letter-spacing: -0.04em;
    font-weight: 700;
    color: #2B292D;
    margin-bottom: 16px;
}

.service .col-12:first-child{
    margin-bottom: 40px;
}

/* program */

.program .section-category{
    color: #009B4D;
}

.program .row:first-child{
    margin-bottom: 32px;
}

.program-card{
    display: block;
    text-align: center;
    padding: 24px 0 32px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.program .col-md-4{
    margin-bottom: 20px;
}

.col-md-4:last-child{
    margin-bottom: 0;
}

.program-card img{
    display: block;
    width: auto;
    height: 195px;
    margin: 0 auto 16px;
}

/* curriculum */

.curriculum .section-category{
    color: #0189D1;
}

.curriculum .section-desc{
    margin-bottom: 32px;
}

 .curriculum-img img{
    display: none;
}

.curriculum .row:first-child{
    margin-bottom: 48px;
}

.curriculum .row:last-child .col-12:first-child{
    margin-bottom: 40px;
}

.curriculum-desc{
    font-size: 15px;
    line-height: 1.4666666667;
    letter-spacing: -0.01;
}

/* subscription */

.subscription{
    background-color: #F2F8FA;
    text-align: center;
    padding: 40px 0;
}

.subscription-img{
    padding: 25px 45px;
}

.subscription-img img{
    display: block;
    width: auto;
    height: 190px;
    margin: 0 auto;
}

.subscription .col-12:first-child{
    margin-bottom: 16px;
}

.subscription-title{
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.05em;
    font-weight: 700;
    margin-bottom: 16px;
}

.subscription-desc{
    margin-bottom: 24px;
}

.subscription .input-group{
    margin-bottom: 8px;
}

.subscription .input-group input{
    width: 100%;
    height: 48px;
    border: none;
    padding: 12px 16px;
    margin-bottom: 8px;
}

.form-notice{
    font-size: 13px;
    line-height: 1.5384615385;
    color: #7B7B7E;
}

.form-notice a{
    text-decoration-line: underline;
    color: #3040C4;
}

.subscription .input-group .btn{
    width: 100%;
    border: none;
}

/* footer */
.footer{
    padding: 24px 0;
}

.footer-list{
    color: #807F81;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: -0.01em;
}

.footer-list:last-child{
    margin-bottom: 0;
}
/* >= 768px (desktop) */
@media screen and (min-width:768px){

.btn{
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.5555555556;
}

    p{
        font-size: 22px;
        line-height: 1.4545454545;
    }

    .section{
        padding: 80px 0 96px;
    }

    .section-category{
        font-size: 22px;
        line-height: 1.0909090909;
    }

    .section-title{
        font-size: 56px;
        line-height: 1;
    }

    /* main */

    .main-content{
        height: auto;
        padding: 120px 0;
    }

    .main-title{
        font-size: 70px;
        line-height: 1.0285714286;
        margin-bottom: 32px;
    }

    .main-desc{
        margin-bottom: 32px;
    }

    .main .btn:first-child{
        margin-right: 16px;
    }

    /* service */
    .service-title{
        font-size: 26px;
        line-height: 1.3076923077;
        margin-bottom: 16px;
    }

    .service .col-12:first-child{
        margin-bottom: 0;
    }

    /* program */
    
    .program{
        text-align: center;
    }

    .program .col-md-4{
        margin-bottom: 0;
    }
    
    .program-card{
        transition: background-color 350ms ease-in-out;
    }

    .program-card strong{
        transition: color 350ms ease-in-out;
    }


    .program-card:hover{
        background-color: #3141C5;
        box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
    }

    .program-card:hover strong{
        color: #fff;
    }

    /* curriculum */

    .curriculum-img{
        padding: 12px;
    }

    .curriculum-img img{
        display: block;
        width: 425px;
        height: auto;
    }

    .curriculum .section-desc{
        margin-bottom: 72px;
    }

    .curriculum-desc{
        font-size: 18px;
        line-height: 1.4444444444;
        letter-spacing: -0.01em;
    }

    .curriculum .row:first-child{
        margin-bottom: 24px;
    }

    .curriculum .row:last-child .col-12:first-child{
        margin-bottom: 0;
    }

    /* subscription */

    .subscription{
        padding: 80px 0;
        text-align: left;
    }

    .subscription-img{
        padding: 8px 0;
    }

    .subscription-img img{
        width: auto;
        height: 285px;
        margin-left: 0;
    }

    .subscription .col-12:first-child{
        margin-bottom: 0;
    }

    .subscription-title{
        font-size: 40px;
        line-height: 1;
    }

    .subscription .input-group{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4px;
    }

    .subscription .input-group input{
        height: 56px;
        font-size: 18px;
        line-height: 1.3333333333;
        margin-bottom: 0;
        margin-right: 8px;
    }

    .subscription .input-group .btn{
        width: 160px;
        flex-shrink: 0;
    }

    .form-notice{
        font-size: 14px;
        line-height: 1.7142857143;
    }

    /* footer */
    .footer{
        padding: 16px 0;
    }

    .footer-lists{
        display: flex;
        align-items: center;
    }

    .footer-list{
        margin-bottom: 0;
        margin-right: 16px;
    }

    .footer-list:last-child{
        margin-right: 0;
    }
}

/* Custom Grid System - Fix container width */
@media screen and (min-width:1200px){
    .container{
        max-width: 960px !important; 
    }
    
}