*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
}


.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:500px;
    height: 216px;
}

.loading-title{
    font-size: 18px;
    line-height: 1.3333333333;
    font-weight: 400;
    color: #151b26;
    margin-bottom: 20px;
    text-align: center;
    animation-name: title;
    animation-duration: 1600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.progress-bar{
    position: relative;
    width: 300px;
    height: 12px;
    background-color: #e5eaef;
    border-radius: 100px;
    overflow: hidden;
}

.progress-bar-gauge{
    position: absolute;
    background-color: #13ce66;
    border-radius: 100px;
    width: 0;
    height: 12px;
    top: 0;
    left: 0;
    animation-name: gauge;
    animation-duration: 1600ms;
    animation-iteration-count: infinite;
}

@keyframes title {
    from{
        opacity: 1;
    }
    
    to{
        opacity: 0;
    }
}

@keyframes gauge{
    0%{
        width: 0;
        opacity: 1;
    }

    90%{
        width: 100%;
        opacity: 1;
    }

    100%{
        width: 100%;
        opacity: 0;
    }


}

