*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}


button{
    position: relative;
    width: 180px;
    height: 56px;
    background-color: #fff;
    color: #151B26;
    font-size: 16px;
    font-weight: 1.25;
    border: none;
    cursor: pointer;
    padding: 18px 30px;
    }

button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0066ff;
    transition: width 250ms;
}

button:hover::after{
    width: 100%;
}
